<div class="TopContent mb-115 mb-xs-60">
  <div class="product-single row position-static">
    <div class="col-lg-5 col-md-6 col-xs-12 position-static">
      <div class="product-single__photos block_img_sticky">
        <div class="proFeaturedImage">
          <div class="block_content d-flex">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image
              | default: product.featured_image
            %}
            <img
              id="ProductPhotoImg"
              class="img-fluid image-zoom img-responsive lazyload"
              data-src="{{ featured_image | img_url: product_image }}"
              alt="{{ featured_image.alt | escape }}"
            >
          </div>
        </div>

        {% if product.images.size > 1 %}
          <div id="productThumbs" class="mt-10">
            <div class="thumblist" data-pswp-uid="1">
              <div
                class="owl-carousel owl-theme"
                data-autoplay="false"
                data-autoplayTimeout="6000"
                data-items="5"
                data-margin="10"
                data-nav="false"
                data-dots="false"
                data-loop="false"
                data-items_tablet="4"
                data-items_mobile="5"
              >
                {% for image in product.images %}
                  <div class="thumbItem">
                    <a
                      href="javascript:void(0)"
                      data-image="{{ image.src | img_url: product_image }}"
                      data-zoom-image="{{ image.src | img_url: product_image_zoom_size }}"
                      class="product-single__thumbnail"
                    >
                      <img src="{{ image.src | img_url: '100x125' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="block_information position-static col-lg-4 col-md-6 col-xs-12 mt-xs-30">
      <div class="info_content">
        <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>
        <div class="product-single__meta">
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link
              itemprop="availability"
              href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}"
            >

            {% if settings.show_rating %}
              <div class="group-reviews has-border d-flex align-items-center mb-25">
                <div class="detail-reviews">
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
              </div>
            {% endif %}

            {% unless product.available %}
              <div class="available_product d-flex align-items-center">
                <div class="available_name control-label">
                  {{ 'products.product.available' | t }}
                </div>
                <span class="product__available sold-out">
                  <span>{{ 'products.product.sold_out' | t }}</span>
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </span>
              </div>
            {% else %}
              <div class="available_product d-flex align-items-center">
                <div class="available_name control-label">
                  {{ 'products.product.available' | t }}
                </div>
                <span class="product__available in-stock">
                  <span>{{ 'products.product.in_stock' | t }}</span>
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>
                </span>
              </div>
            {% endunless %}

            <div class="group-single__sku has-border">
              {% if section.settings.show_vendor %}
                <p itemprop="brand" class="product-single__vendor">
                  <span class="label">{{ 'products.product.lable_vendor' | t }}:</span>{{ product.vendor }}
                </p>
              {% endif %}
              {% if section.settings.show_sku %}
                <p itemprop="sku" class="product-single__sku">
                  <span class="label control-label">{{ 'products.product.lable_sku' | t }}:</span>
                  <span class="label-sku">{{ current_variant.sku }}</span>
                </p>
              {% endif %}
              {% if section.settings.show_categories %}
                <p itemprop="cat" class="product-single__cat">
                  <span class="label control-label">{{ 'products.product.lable_category' | t }}:</span>
                  {% for collection in product.collections %}
                    {% if forloop.last == true %}
                      <a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}</a>
                    {% else %}
                      <a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}</a>,
                    {% endif %}
                  {% endfor %}
                </p>
              {% endif %}
              {% if section.settings.show_tags %}
                <p itemprop="tags" class="product-single__tags">
                  <span class="label control-label">{{ 'products.product.lable_tags' | t }}:</span>
                  {% for tag in product.tags %}
                    {% if tag != 'upsell' %}
                      {% capture url %}/collections/all/{{ tag | handle }}{% endcapture %}
                      {% if forloop.last == true %}
                        {{ tag | link_to: url }}
                      {% else %}
                        {{ tag | link_to: url }},
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </p>
              {% endif %}
              {% if section.settings.show_des %}
                <div class="product-single__shortdes mb-20" itemprop="description">
                  {{ product.description | strip_html | truncatewords: 30 }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %} d-flex align-items-center">
          {% if current_variant.compare_at_price > current_variant.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
              <span
                id="ProductPrice-{{ section.id }}"
                itemprop="price"
                content="{{ current_variant.price | divided_by: 100.00 }}"
                class="money mr-10"
              >
                {{ current_variant.price | money }}
              </span>
              <span class="money product-price__sale-label product-price__sale-label-{{ section.id }} d-none">
                {{- 'products.product.on_sale' | t -}}
              </span>
            </span>
            <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
          {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <span class="product-price__price product-price__price-{{ section.id }}">
              <span
                id="ProductPrice-{{ section.id }}"
                itemprop="price"
                content="{{ current_variant.price | divided_by: 100.00 }}"
                class="money mr-10"
              >
                {{ current_variant.price | money }}
              </span>
              <span class="money product-price__sale-label product-price__sale-label-{{ section.id }} d-none">
                {{- 'products.product.on_sale' | t -}}
              </span>
            </span>
            <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
          {% endif %}
        </p>
        <form
          action="/cart/add"
          method="post"
          enctype="multipart/form-data"
          class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}"
          data-section="{{ section.id }}"
        >
          <div class="selectorVariants">
            {% if section.settings.product_swatch_enable %}
              {% if variantCount > 1 %}
                {% for option in product.options %}
                  {% include 'nov-swatch' with option %}
                {% endfor %}
              {% endif %}
            {% endif %}

            <select
              name="id"
              id="productSelect"
              data-section="{{ section.id }}"
              {% if section.settings.product_swatch_enable %}
                class="enable_swatch hide"
              {% endif %}
            >
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option
                    {% if variant == product.selected_or_first_available_variant %}
                      selected="selected"
                    {% endif %}
                    value="{{ variant.id }}"
                  >
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="group-quantity">
            {% if section.settings.show_quantity_selector %}
              <span class="control-label">{{ 'products.product.quantity' | t }}</span>
              <div class="product-form__item product-form__item--quantity align-items-center mb-30">
                <label for="Quantity" class="quantity-selector"></label>
                <div class="quick_view_qty">
                  <a href="javascript:void(0);" class="quick_view-qty quick_view-qty-minus">-</a>
                  <input
                    type="number"
                    id="Quantity"
                    name="quantity"
                    value="1"
                    min="1"
                    max="{{ current_variant.inventory_quantity }}"
                    step="1"
                    class="quantity-selector product-form__input"
                    pattern="[0-9]*"
                  >
                  <a href="javascript:void(0);" class="quick_view-qty quick_view-qty-plus">+</a>
                </div>
                {% if settings.wishlist_enable %}
                  <div class="productWishList">
                    <a
                      class="wishlist btnProductWishlist"
                      data-icon-wishlist
                      href="#"
                      data-product-handle="{{ product.handle }}"
                      data-id="{{ product.id | json }}"
                    >
                      <i class="zmdi zmdi-favorite"></i>
                      <span class="wishlist-text">{{ 'products.product.wishlist' | t }}</span>
                    </a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
            <div class="product_option_sub">
              <div class="product-form__item product-form__item--submit">
                <button
                  data-handle="{{ product.handle }}"
                  type="submit"
                  name="add"
                  id="AddToCart"
                  {% unless current_variant.available %}
                    disabled="disabled"
                  {% endunless %}
                  class="btnAddToCart btn product-form__cart-submit mb-15{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}"
                >
                  <span id="AddToCartText">
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                </button>
              </div>
              {% if settings.payment_button_enable %}
                <div class="product-form__item product-form__item--checkout">
                  {% form 'product', product, class: form_classes, novalidate: 'novalidate', data-product-form: '' %}
                    {{ form | payment_button }}
                  {% endform %}
                </div>
              {% endif %}
            </div>
          </div>
        </form>
        {% if section.settings.show_share %}
          <div class="productbuttons d-flex align-items-center mt-20">
            {% if settings.share_facebook %}
              <a
                target="_blank"
                href="//www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}"
                class="btn--share share-facebook"
                title="{{ 'general.social.alt_text.share_on_facebook' | t }}"
              >
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
                <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
              </a>
            {% endif %}

            {% if settings.share_twitter %}
              <a
                target="_blank"
                href="//twitter.com/share?text={{ article.title | url_param_escape }}&amp;url={{ shop.url | append: product.url }}"
                class="btn--share share-twitter"
                title="{{ 'general.social.alt_text.share_on_twitter' | t }}"
              >
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
                <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
              </a>
            {% endif %}

            {% if settings.share_pinterest %}
              <a
                target="_blank"
                href="//pinterest.com/pin/create/button/?url={{ shop.url | append: product.url }}&amp;media={{ product.featured_image | img_url: '1024x1024' }}"
                class="btn--share share-pinterest"
                title="{{ 'general.social.alt_text.share_on_pinterest' | t }}"
              >
                <i class="fa fa-pinterest" aria-hidden="true"></i>
                <span class="share-title" aria-hidden="true">{{ 'general.social.share_on_pinterest_pt' | t }}</span>
                <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="step_buy col-lg-3 col-md-12 order-lg-0 order-1 mt-md-40">
      <div class="block_step">
        <div class="block block_heading d-flex mb-25">
          <div class="number"><i class="zmdi zmdi-format-subject"></i></div>
          <div class="heading">{{ 'products.product.stepbuy' | t }}</div>
        </div>
        {% for block in section.blocks %}
          {% if block.type == 'block_stepbuy' %}
            <div class="block d-flex">
              <div class="number">{% cycle '1', '2', '3', '4', '5', '6', '7', '8', '9', '10' %}</div>
              <div class="block_content">
                <div class="title">{{ block.settings.custom_title }}</div>
                <div class="content">{{ block.settings.content }}</div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% comment %} Tab {% endcomment %}

    <div class="product-single__tabs col-12 mt-105 mt-lg-60">
      <div class="block_nav d-flex justify-content-center">
        <ul class="nav nav-tabs">
          {% if section.settings.show_description %}
            <li>
              <a class="active" href="#proTabs1" data-toggle="tab">{{ 'products.product.tabdes' | t }}</a>
            </li>
          {% endif %}

          {% if section.settings.show_review or settings.show_rating %}
            <li>
              <a href="#tabreview" data-toggle="tab">{{ 'products.product.lable_review' | t }}</a>
            </li>
          {% endif %}

          {% for block in section.blocks %}
            {% if block.type == 'block_text' %}
              <li>
                <a href="#tabCustom-{{ forloop.index }}" data-toggle="tab">{{ block.settings.custom_title }}</a>
              </li>
            {% endif %}
            {% if block.type == 'block_img' %}
              <li>
                <a href="#tabCustom-{{ forloop.index }}" data-toggle="tab">{{ block.settings.custom_title }}</a>
              </li>
            {% endif %}
            {% if block.type == 'block_video' %}
              <li>
                <a href="#tabCustom-{{ forloop.index }}" data-toggle="tab">{{ block.settings.custom_title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="tab-content">
        {% if section.settings.show_description %}
          <div class="tab-pane active" id="proTabs1">{{ product.description }}</div>
        {% endif %}

        {% if section.settings.show_review or settings.show_rating %}
          <div class="tab-pane" id="tabreview">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
        {% endif %}

        {% for block in section.blocks %}
          {% if block.type == 'block_text' %}
            <div class="tab-pane" id="tabCustom-{{ forloop.index }}">
              <div class="product-description">{{ block.settings.custom_content }}</div>
            </div>
          {% endif %}

          {% if block.type == 'block_img' %}
            <div class="tab-pane" id="tabCustom-{{ forloop.index }}">
              <div
                class="block_img mt-20"
                data-toggle="modal"
                data-src="https://www.youtube.com/embed/N3745iSLUWU"
                data-target="#ImageModal"
              >
                <img src="{{ block.settings.custom_content | img_url: '1170x' }}" alt="img">
              </div>
              <div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <img src="{{ block.settings.custom_content | img_url: '1170x' }}" alt="img">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if block.type == 'block_video' %}
            <div class="tab-pane" id="tabCustom-{{ forloop.index }}">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe
                  class="embed-responsive-item"
                  src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}"
                  id="video"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    {% comment %} End Tab {% endcomment %}
  </div>
</div>
