<div class="post">
  <!-- Centralized Blog Title -->
  <div class="blog-header-title">
    <span class="category-label">BLOG</span>
  </div>
  <div class="article__title">{{ article.title }}</div>
  {% if section.settings.blog_show_image_feature %}
    <div class="article__thumnail">
      <img
        class="img-fluid lazyload"
        data-src="{{ article.image.src | img_url: 'original' }}"
        alt="{{ article.title }}"
        loading="lazy"
        width="auto"
        height="auto"
      >
      <div class="date-badge">
        <span class="day">{{ article.published_at | date: '%d' }}</span>
        <span class="month">{{ article.published_at | date: '%b' }}</span>
      </div>
    </div>
  {% endif %}
</div>
<div class="rte" itemprop="articleBody">
  {{ article.content }}
</div>
{% comment %}
  <div class="article__info d-flex align-items-center">
    <div class="blog_cs">
      {% if section.settings.blog_show_date %}
        <span class="article__date">
          <i class="zmdi zmdi-calendar-note"></i>{{ article.published_at | time_tag: format: 'month_day_year' }}
        </span>
      {% endif %}

      {% if blog.comments_enabled? %}
          <span class="article__countcomment"><i class="zmdi zmdi-comment-alt"></i>{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</span>
      {% endif %}


      {% if section.settings.blog_show_author %}
        <span class="article__author"><i class="zmdi zmdi-account"></i>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
      {% endif %}
    </div>
    <div class="blog_share">
      {% if section.settings.show_share_buttons %}
        <div class="article__share btn-group">
          <a class="dropdown-toggle" href="#" id="dropdownsharebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="zmdi zmdi-share"></i><span>{{ 'blogs.article.share' | t }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownsharebutton">
            {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
          </div>
        </div>
      {% endif %}
      <div class="article__print">
        <a href="javascript:window.print()"><i class="zmdi zmdi-print"></i><span>{{ 'blogs.article.print' | t }}</span></a>
      </div>
    </div>
  </div>
{% endcomment %}

<style>
      .blog-header-title {
      text-align: center;
      margin-bottom: 20px;
    }

    .category-label {
      display: block;
      color: #c1a37f; /* Gold/Tan color from image */
      font-size: 14px;
      letter-spacing: 3px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    .article__title {
      font-size: 40px;
      margin-bottom: 25px;
      text-align: center;
      font-weight: 600;
      color: #000;
    }
    @media (max-width: 767px) {
    .article__title { font-size: 20px; }
  }
    .article__thumnail{
    position: relative;
  }
    /* Date Badge Styling */
  .date-badge {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 18px;
    z-index: 10;
    border: 1px solid #000;
    text-align: center;
    line-height: 1.2;
    min-width: 60px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
</style>

{% schema %}
{
  "name": "Posts",
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_image_feature",
      "label": "Show Image Feature",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    }
  ]
}
{% endschema %}
