<div class="distance{% if section.settings.class_section != blank %} {{ section.settings.class_section }}{% endif %}">
  {% if section.settings.has_fullwidth == false %}
  <div class="container">
  {% endif %}
    {% if section.settings.title != blank %}
      <div class="{{ section.settings.title_alignment }}">
        <div class="title_block {{ section.settings.title_style }}{% if section.settings.has_fullwidth == true and section.settings.title_alignment == 'text-left' %} nv-pl-30 nv-pl-md-10{% endif %}{% if section.settings.has_fullwidth == true and section.settings.title_alignment == 'text-right' %} nv-pr-30 nv-pr-md-10{% endif %}">
          <span>{{ section.settings.title }}</span>
          {% if section.settings.subheading != blank %}
            <span class="sub_title">{{ section.settings.subheading | escape }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="row spacing-{{ section.settings.spacing }}">
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign column_size = 'col-lg-12 col-md-12 col-xs-12' -%}
        {% when 2 %}
          {%- assign column_size = 'col-lg-6 col-md-6 col-xs-12' -%}
        {% when 3 %}
          {%- assign column_size = 'col-lg-4 col-md-4 col-xs-12' -%}
        {% when 4 %}
          {%- assign column_size = 'col-lg-3 col-md-4 col-xs-12' -%}
        {% when 5 %}
          {%- assign column_size = 'col-lg-cus-5 col-md-cus-5 col-xs-12' -%}
        {% else %}
          {%- assign column_size = 'col-lg-2 col-md-4 col-xs-6' -%}
      {% endcase %}

      {% for block in section.blocks %}
        <div class="{{ column_size }} gallery-image_column{% if block.settings.class != blank %} {{ block.settings.class }}{% endif %}">
          <div class="gallery-image__item lazyload{% if section.settings.style_img_1 == true %} nov-sh-image-1{% endif %}{% if section.settings.style_img_2 == true %} nov-sh-image-2{% endif %}{% if block.settings.bd_r == true %} has_br{% endif %}">
            {% if block.settings.link != blank %}
            <a class="w-100 gallery-image__link" href="{{ block.settings.link }}">
            {% endif %}
            {% if block.settings.image != blank %}
              <img class="w-100 lazyload" lazy data-src="{{ block.settings.image | img_url: '1920x1920' }}" alt="{% if block.settings.cta_label != blank %}{{ block.settings.cta_label }}{% else %}gallery image{% endif %}" loading="lazy" >
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if block.settings.link != blank %}
            </a>
            {% endif %}

            {% if block.settings.cta_label != blank or block.settings.btn_label != blank %}
              <div class="gallery-image__caption nv-pl-60 nv-pr-60 nv-pl-lg-30 nv-pr-lg-30">
                <div class="b_content">
                  {% if block.settings.cta_label != blank %}
                    <div class="gallery-image__text" style="color: {{ block.settings.c_cta_label }};">{{ block.settings.cta_label }}</div>
                  {% endif %}
                  {% if block.settings.cta_label_2 != blank %}
                    <div class="gallery-image__text2" style="color: {{ block.settings.c_ctext2 }};">{{ block.settings.cta_label_2 }}</div>
                  {% endif %}
                  {% if block.settings.des != blank %}
                    <div class="gallery-image_des mt-10" style="color: {{ block.settings.c_des }};">{{ block.settings.des }}</div>
                  {% endif %}
                  {% if block.settings.btn_label != blank %}
                    <a href="{{ block.settings.link }}" class="gallery-image-btn mt-30">{{ block.settings.btn_label }}</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div><!-- End row -->
  {% if section.settings.has_fullwidth == false %}
  </div><!-- End container -->
  {% endif %}
</div>
{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": "Vinova Gallery Image",
    "class": "index-section section-gallery-image",
    "max_blocks": 6,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Vinova Gallery Image"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading",
        "default": "Subtitle from happy customers"
      },
      {
        "type": "select",
        "id": "title_alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "title_style",
        "label": "Heading Style",
        "default": "title_1",
        "options": [
          {
            "value": "title_1",
            "label": "Style 1"
          },
          {
            "value": "title_2",
            "label": "Style 2"
          },
          {
            "value": "title_3",
            "label": "Style 3"
          }
        ]
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing Items",
        "default": "0",
        "options": [
          {
            "label": "0px",
            "value": "0"
          },
          {
            "label": "5px",
            "value": "5"
          },
          {
            "label": "10px",
            "value": "10"
          },
          {
            "label": "15px",
            "value": "15"
          },
          {
            "label": "20px",
            "value": "20"
          },
          {
            "label": "25px",
            "value": "25"
          },
          {
            "label": "30px",
            "value": "30"
          }
        ]
      },
      {
        "type": "header",
        "content": "Style hover image"
      },
      {
        "type": "checkbox",
        "id": "style_img_1",
        "label": "Style hover image 1"
      },
      {
        "type": "checkbox",
        "id": "style_img_2",
        "label": "Style hover image 2"
      },
      {
        "type": "header",
        "content": "Style section"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full Width",
        "default":   false
      },
      {
        "type": "text",
        "id": "class_section",
        "label": "Class"
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top Distance Section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom Distance Section",
        "default": "30px"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "center",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "text",
            "id": "cta_label",
            "label": "Caption 1"
          },
          {
            "type": "color",
            "id": "c_cta_label",
            "label": "Caption 1 color",
            "default": "#222222"
          },
          {
            "type": "text",
            "id": "cta_label_2",
            "label": "Caption 2"
          },
          {
            "type": "color",
            "id": "c_ctext2",
            "label": "Caption 2 color",
            "default": "#444444"
          },
          {
            "type": "text",
            "id": "des",
            "label": "Description",
            "default": "#666666"
          },
          {
            "type": "color",
            "id": "c_des",
            "label": "Description color"
          },
          {
            "type": "text",
            "id": "btn_label",
            "label": "Text Button"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "bd_r",
            "label": "Border right"
          },
          {
            "type": "text",
            "id": "class",
            "label": "Class"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Image Gallery",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }};
    padding-bottom: {{ section.settings.distance_bottom }};
  }
</style>
